<!DOCTYPE html>
<html lang="en" style="max-width: 1200px;" class="mx-auto">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com"></script>
  <title>BattleBrains</title>
</head>
<body>
    <div class="container mx-auto min-w-[600px] min-h-[600px] bg-white rounded-lg shadow-lg p-6 flex justify-center items-center">
         {{{body}}}
  </div>

    
</body>
</html>